<html>
    <head>
        <meta charset="UTF-8">
        <title> <%= title %> </title>
        <link rel="shortcut icon" href="">
    </head>

    <body>
        <div id="myApp"></div>
        <script src="./assets/js/bundle.js"></script>
    </body>
</html>